<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.5.1" version="v4.0"/>
  </startup>
  <aws region="eu-west-1" profileName="dev">
    <logging logTo="Log4Net"/>
  </aws>
</configuration>
